:root {

}

body {
    margin: 0;
}

.header-section {
    background-color: #1D1042;
    width: 272px;
    height: 1024px;
}

.first-button {
    border: 1px;
    margin: 40px 32px 40px 32px;
    background-color: #45269C;
    border-radius: 8px;
    font-family: 'Inter';
    font-size: 16px;
    width: 13em;
    height: 2.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar {
    padding: 40px 32px 40px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 18px);
    row-gap: 40px;
    
    width: 13em;
    height: 25em;
    align-self:inherit;
    
}
li  {
    
    border: 1px solid red;

}
img {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: left;
    
}

ul {
    list-style: none;
    font-family: 'Inter';
    
}
a {
    color: #ffffff;
    text-decoration: none;
    
}

